/* style.css */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a; /* gelap biru kehitaman */
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 20px;
}

.container {
    background: #020617; /* hampir hitam */
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);

    width: 100%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
}

h2 {
    color: #e5e7eb; /* abu terang */
    text-align: center;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    margin-bottom: 1.5rem;
}

input, select, button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 15px;
    font-size: 1rem;
    border-radius: 12px;

    background-color: #020617;
    color: #e5e7eb;
    border: 1px solid #334155;
}

button {
    background-color: #2563eb; /* biru elegan */
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1d4ed8;
}

h3 {
    font-size: 1rem;
    background: #020617;
    color: #e5e7eb;
    padding: 15px;
    border-left: 6px solid #2563eb;
    border-radius: 8px;
    word-wrap: break-word;
}

@media (max-width: 320px) {
    .container {
        padding: 1rem;
    }
}
